airtable-python-wrapper==0.15.3
astroid==2.4.2
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.6
click==7.1.2
colorama==0.4.4
et-xmlfile==1.1.0
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.21.2
openai==0.10.5
openpyxl==3.0.9
pandas==1.3.3
pandas-stubs==1.2.0.17
pylint==2.5.3
python-dateutil==2.8.2
python-dotenv==0.14.0
pytz==2021.3
requests==2.24.0
six==1.15.0
toml==0.10.2
tqdm==4.62.3
urllib3==1.25.11
waitress==2.0.0
Werkzeug==1.0.1
wrapt==1.12.1
